body {
    background: #1c1c1c;
    color: #fff;
    font-family: 'Georgia', serif;
    background-image: url('https://www.transparenttextures.com/patterns/black-felt.png');
  }

  .cine-header {
    background: linear-gradient(to bottom, #5e0e0e, #2c0000);
    padding: 2rem;
    border-bottom: 5px solid #a52a2a;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  .cine-header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
    color: gold;
  }
  .cine-header p {
    font-size: 1.2rem;
    color: rgba(255, 253, 143, 0.863);
    font-weight: bolder;
  }

  .cine-footer {
    text-align: center;
    padding: 1rem;
    background-color: #2c0000;
    color: #aaa;
    font-size: 0.9rem;
  }

  .zoom-hover {
    transition: transform 0.3s ease;
  }
  
  .zoom-hover:hover {
    transform: scale(0.9); /* Aumenta al 110% */
  }

  h2 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
    color: gold;
  }

  img{
    width: 50%;
    aspect-ratio: 1 / 1; /* cuadrada */
    object-fit: cover;
    border-radius: 5px;
  }